/* NAV BAR STYLING */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px;
    box-shadow: 0px 2px 20px 5px var(--gray-shadow);
}

.menu-title {
    margin: 20px;
}

.menu-title a {
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    color: var(--midnight-blue);
}

.menu-title a:visited {
    color: var(--midnight-blue);
}

.menu-links {
    text-transform: uppercase;
    list-style: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.menu-links a {
    padding: 10px 10px;
    font-size: 12px;
    text-decoration: none;
    color: var(--midnight-blue);
}

.menu-links a:hover {
    animation: fadeIn 0.5s;
    background-color: var(--cornflower-blue);
    color: white;
    text-decoration: underline solid 2px;
}

.menu-links .current {
    font-weight: 700;
    text-decoration: underline solid 2px var(--midnight-blue);
}

/* -------------------------------- */
/* WELCOME TO TABLET VIEW
/* MIN-WIDTH 630 PX */
/* because there is space to expand the menu */
/*--------------------------------*/

@media screen and (min-width: 630px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 0px;
    }
    .menu-title {
        margin: 0px;
        padding-left: 25px;
    }
    .menu-title a {
        padding-left: 20px;
        font-size: 20px;
        font-weight: bolder;
        text-decoration: none;
        color: var(--midnight-blue);
    }
    .menu-title a:visited {
        color: var(--midnight-blue);
    }
    /* nav {
    width: 100%;
} */
    /*Change this to ul??*/
    .menu-links {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: fit-content;
        padding-right: 40px;
    }
    .menu-links a {
        padding: 20px 10px;
        font-size: 16px;
        text-decoration: none;
        color: var(--midnight-blue);
    }
    /* .menu-links a:hover {
        background-color: var(--midnight-blue);
        color: var(--light-gray);
        text-decoration: underline solid 2px;
    } */
}

@media screen and (min-width: 1024px) {
    .menu-title {
        margin-left: 45px;
    }

    .menu-links {
        margin-right: 45px;
    }

}
