/* -------------------------------- */
/* WELCOME TO LAPTOP VIEW
/* MIN-WIDTH 1024 PX */
/* PLACE AFTER STYLE-TABLET.CSS */
/*--------------------------------*/

@media screen and (min-width: 1024px) {

    .fa-chevron-right {
        font-size: 30px;
        color: var(--davys-grey);
    }

    .project-topics {
        display: flex;
        flex-direction: column;
        /* background-color: black; */
        width: 10px;
        height: 30%;
        position: fixed;
        right: 0;
        z-index: 1;
        margin: 50px;
        align-items: center;
        justify-content: space-between;
}
    
    .topic-block {
        display: block;
        width: 15px;
        height: 15px;
        background-color: rgba(128, 128, 128, 0.45);
        border-radius: 30px;
    }

   
    /* STYLING FOR HOMEPAGE PAGE GRID  */
    .headline {
        margin: 0 75px;
    }

    .grid-layout-1 {
        grid-template-columns: 1fr 1fr;
        row-gap: 40px;
        margin: 20px 60px;
    }

    .layout-section {
        padding: 25px 95px;
    }

    .vdes-grid {
        margin: 10px 80px;
    }

    .contact-form {
        display: block;
        margin-left: 25%;
        margin-right: 25%;
    }

    input[type=submit] {
        width: 100%;
    }

    .about-layout {
        padding-top: 0;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }

    .cards-layout {
        padding-top: 0;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
    }

    .card-container {
        height: 450px;
    }

    .card-back {
        grid-template-columns: 1fr;
    }

    .parallax-contain {
        height: 75vh;
    }
}