body {
    font-family: 'Poppins', 'Arial', sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
    /* border: 1px solid black; */
    /*Website Color Palette*/
    --imperial-red: #f02d3aff;
    --midnight-blue: #001d74ff;
    --cornflower-blue: #7f95d1ff;
    --light-gray: #cfcfcfff;
    --davys-grey: #474a48ff;
}


/* BASIC ELEMENTS STYLE - BASE STYLE */

h1 {
    padding: 5px 10px;
    font-size: 30px;
    line-height: 45px;
    font-weight: 500;
}

h2 {
    padding: 5px 10px;
    font-size: 24px;
    line-height: 40px;
    font-weight: 500;
}

h3 {
    padding: 5px 10px;
    font-size: 22px;
    line-height: 40px;
    font-weight: 300;
}

h4 {
    padding: 5px 10px;
    font-size: 20px;
    line-height: 45px;
    font-weight: 500;
}

h5 {
    padding: 5px 10px;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
}

h6 {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
}

p {
    padding: 5px 15px;
    font-size: 12px;
    line-height: 26px;
    font-weight: 500;
    color: var(--davys-grey);
}

.project-section {
    margin: 5px 0px;
    padding: 20px;
}

.color-a {
    background-color: var(--light-gray);
}

.project-image {
    margin: 10px 15px;
    padding-bottom: 12px;
}

.project-image>figure>img {
    width: 100%;
}

figcaption {
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
}

.skip a {
    background-color: white;
    padding: 10px;
    position: absolute;
    top: -50px;
    z-index: 1;
}

.skip a:focus {
    position: absolute;
    top: 10px;
}

.headline {
    margin: 10px;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
}


/*Requirement 10: Parallax Image
Needs a different Image - Portrait*/

.parallax {
    background-image: url('../images/Sample-Image.png');
    min-height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* 9-Image Gallery
*/

.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px 10px;
}

.img-item {
    /* border: black solid 1px; */
    margin: 2px 2px;
    align-content: center;
}

.large-img {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
}

.med-img {
    grid-column: 2/ span 2;
    grid-row: 4 / span 2;
}

.img-item>img {
    width: 100%;
}


/* -------------------------------- */


/* STYLING FOR HOMEPAGE PAGE GRID */


/*--------------------------------*/

.grid-container-home {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    margin: 10px;
}

.grid-item {
    box-sizing: border-box;
    position: relative;
    min-height: 250px;
    max-height: fit-content;
    padding-bottom: 10px;
    width: auto;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 5px 20px 2px rgba(180, 180, 180, 0.89);
}

.grid-item:hover {
    box-shadow: 2px 5px 20px 2px rgba(175, 203, 255, 0.89);
}

.grid-item>img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    /* background-color: rgba(255, 255, 255, 0.404); */
}


/* -------------------------------- */


/* FOOTER STYLING */


/*--------------------------------*/

footer {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    background-color: var(--light-gray);
    padding: 20px 10px;
    margin-top: 35px;
}

footer p {
    font-weight: 500;
    padding: 20px;
    line-height: 26px;
}


/* -------------------------------- */


/* Larger Screen Size */


/*--------------------------------*/

@media screen and (min-width: 641px) {
    .headline {
        margin: 20px 50px;
        padding: 10px;
        font-size: 20px;
        font-weight: 300;
        line-height: 40px;
    }
    /* -------------------------------- */
    /* STYLING FOR HOMEPAGE PAGE GRID */
    /*--------------------------------*/
    .grid-container-home {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 50px;
        column-gap: 25px;
        margin: 10px 50px;
    }
    .grid-item {
        box-sizing: border-box;
        min-height: 250px;
        max-height: fit-content;
        width: auto;
        /* border: 1px solid black; */
        border-radius: 10px;
        text-align: center;
        box-shadow: 2px 5px 20px 2px rgba(180, 180, 180, 0.89);
    }
    .grid-item:hover {
        box-shadow: 2px 5px 20px 2px rgba(175, 203, 255, 0.89);
        ;
    }
    .grid-item>img {
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }
}