/*--------------------------------*/
/* REDUCED MOTION QUERIES */
/* Place last in the list of css files to ensure
   access in correct order */
/*--------------------------------*/
@media screen and (prefers-reduced-motion) {
    /* No animation on the flip card */
    .card-body {
        transition: none;
    }

    /* only shadow for hover */
    .grid-item:hover {
        transition: none;
        transform: none;
    }

    .grid-item:hover .arrow {
        animation: none;
    }

    /* No parallax image
       removed using ids 
    */
    #opt-out-animation {
        display: inline-block;
    }

    #opt-in-animation {
        display: none;
    }

    .arrow {
        display: inline;
    }

    /* Remove Hover Size change*/

    .vdes-item>img:hover {
        max-width:100%;
    }

    .vdes-item-2>img:hover {
        max-width:100%;
    }

}