body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
    font-weight: lighter;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.grid-item {
    box-sizing: border-box;
    padding: 10px;
    height: 250px;
    border: 1px solid black;
    border-radius: 10px;
}