body {
    font-family: 'Poppins', 'Arial', sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
    /* border: 1px solid black; */
    /*Website Color Palette*/
    --imperial-red: #f02d3aff;
    --midnight-blue: #001d74ff;
    --cornflower-blue: #7f95d1ff;
    --light-gray: #cfcfcfff;
    --davys-grey: #474a48ff;
}


/*--------------------------------*/


/* BASIC ELEMENTS STYLE */


/*--------------------------------*/

h2 {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 500;
}

h3 {
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 300;
}

.skip a {
    background-color: white;
    padding: 10px;
    position: absolute;
    top: -50px;
    z-index: 1;
}

.skip a:focus {
    position: absolute;
    top: 10px;
}

.headline {
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
}


/*--------------------------------*/


/* NAV BAR STYLING */


/*--------------------------------*/

header {
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px;
}

.menu-title {
    margin-top: 20px;
}

.menu-title a {
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    color: var(--midnight-blue);
}

.menu-title a:visited {
    color: var(--midnight-blue);
}


/* nav {
    width: 100%;
} */


/*Change this to ul??*/

.menu-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.menu-links a {
    padding: 20px;
    font-size: 16px;
    text-decoration: none;
    color: var(--midnight-blue);
}

.menu-links a:visited {
    color: var(--midnight-blue);
}


/* -------------------------------- */


/* STYLING FOR HOMEPAGE PAGE GRID */


/*--------------------------------*/

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 50px;
    margin: 10px;
}

.grid-item {
    box-sizing: border-box;
    min-height: 250px;
    max-height: fit-content;
    width: auto;
    /* border: 1px solid black; */
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 5px 20px 2px rgba(180, 180, 180, 0.89);
}

.grid-item:hover {
    box-shadow: 2px 5px 20px 2px rgba(175, 203, 255, 0.89);
    ;
}

img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

footer {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    background-color: var(--light-gray);
    padding: 20px 10px;
    margin-top: 35px;
}

footer p {
    font-weight: 500;
}